name: CI

on:
  push:
    branches: [ "dev" ]

  workflow_dispatch:

jobs:
  trufflehog-scan:
    name: TruffleHog Scan
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2 # only need the last 2 commits (including current commit) to scan diffs
      
      - name: TruffleHog OSS (Secret Scanning)
        id: trufflehog
        uses: trufflesecurity/trufflehog@main
        continue-on-error: false 
        with:
          base: ${{ github.event.before }}
          head: ${{ github.sha }}
          path: ./
          extra_args: "--debug"
  docker-build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build -t my-app:latest ./src
  docker-security-scan:
    name: Trivy Docker Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build an image from Dockerfile
        run: docker build -t vulnerable-app:latest ./src
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: vulnerable-app:latest
          format: 'table'
          exit-code: '1'
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
  sast-bandit:
    name: Bandit Analysis
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit (will fail on findings)
        run: bandit -r ./src --format screen
  pip-audit:
    name: Dependency Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install pip-audit
        run: pip install pip-audit
      - name: Scan dependencies
        run: pip-audit -r ./src/requirements.txt

  